body {
  background: rgb(251,72,63);  /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg, rgba(251,72,63,0.7203256302521008) 0%, rgba(148,70,252,0.5970763305322129) 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, rgba(251,72,63,0.7203256302521008) 0%, rgba(148,70,252,0.5970763305322129) 100%);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}